* {
    box-sizing: border-box;
    color: rgb(65, 65, 65);
}

body {
    margin: 0px 20px;
    font-family: 'Open Sans', sans-serif;
}

pre {
    background-color: rgba(218, 216, 217, 0.23);
    padding: 20px;
}

code {
    font-size: 14px;
}

space {
    padding: 10px;
}

footer {
    bottom: 0;
    position: sticky;
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: white;
}

button {
    display: block;
    margin: auto;
    margin-top: 12px;
    border: none;
    border-radius: 3px;
    padding: 13px 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #6655BC;
    color: white;
    box-shadow: 0 10px 12px 0 rgba(102, 85, 188, 0.2), 0 10px 12px 0 rgba(102, 85, 188, 0.3);
}

nav {
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    font-size: 12px;
    padding: 16px 16px;
    margin: 10px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
}

nav a:hover {
    -webkit-transform: scale(1.05, 1.05);
    color: #E7E7E7;
}

heading {
    display: block;
    text-align: center;
    font-size: 35px;
}

subheading {
    display: block;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

input {
    padding: 10px;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    max-width: 40%;
    height: auto;
    -webkit-transition: all 0.2s ease-in-out;
}

img:hover {
    -webkit-transform: scale(1.04, 1.04);
}

topic {
    display: block;
    text-align: center;
    font-size: 27px;
}

subtopic {
    display: block;
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
}

card-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    transition-duration: 0.3s;
    padding: 4%;
}

card-container card {
    text-align: center;
    padding: 20px 0;
}


/*
 * News specific
 */

.collapse {
    width: 80%;
    text-align: left;
}

.content {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
}