{% extends 'base.html' %} {% block container %}
<div class="text-center highlight-clean">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center">releax gnu/linux</h2>
            <p class="text-center">a innovative distro</p>
        </div>
        <!-- End: Intro -->
        <!-- Start: Buttons -->
        <div class="buttons"><a class="btn btn-primary" role="button" href="{{ data['url'] }}">Download</a>
<a class="btn btn-light" href="{{ '/join' }}" role="button">Join Team</a></div>
        <!-- End: Buttons -->
    </div><img class="img-fluid d-block" src="{{ url_for('static',filename='assets/img/looks.png') }}" width="500" height="500" style="margin: auto;"></div>
<!-- End: Highlight Clean -->
<!-- Start: Features Clean -->
<div class="features-clean">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center">Features</h2>
        </div>
        <!-- End: Intro -->
        <!-- Start: Features -->
        <div class="row features">
            {% for feat in Features %}
            <div class="col-sm-6 col-lg-4 item">
                <h3 class="name">{{ feat['title'] }}</h3>
                <p class="description">{{ feat['desc'] }}</p>
            </div>
            {% endfor %}
        </div>
        <!-- End: Features -->
    </div>
</div> {% endblock %}