{% extends 'base.html' %} {% block container %}
<button>Download</button>

<img src="{{ url_for('static',filename='graphics/looks.png')}}">

<topic>
    features
</topic>

<subtopic>
    things you got from releax
</subtopic>

<card-container>
    <card>
        <h3>Independent</h3>
        <p>releax os is a independently developed linux distro build from scratch, means new adventure, new everything</p>
    </card>
    <card>
        <h3>Customizable</h3>
        <p>Obviously its GNU linux a open source linux distro with xfce 4.14 to provide ultimate level of customizablitiy,so that you os with look like in the way you want</p>
    </card>
    <card>
        <h3>Openrc Init</h3>
        <p>is a service manager maintained by the Gentoo developers. OpenRC is dependency based and works with the system provided init program, normally SysVinit</p>
    </card>
</card-container>
<card-container>
    <card>
        <h3>freedom</h3>
        <p>releax os is free to modify, distribute, redistribute, and whatever you want to do with it</p>
    </card>
    <card>
        <h3>sysmgr</h3>
        <p>releax os have a homegrown sysmgr that help you to manage your linux</p>
    </card>
    <card>
        <h3>app</h3>
        <p>'app' homegrown application manager.now with 'app' you no need to search web to download and install your application, just 'app install -your-application-'</p>
    </card>
</card-container>

<img src="{{ url_for('static',filename='graphics/daynight.jpg')}}"> {% endblock %}