{% extends 'base.html' %} {% block container %}
<div class="team-boxed" style="background-color: rgb(255,255,255);">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center">Team </h2>
            <p class="text-center">people behind releax gnu/linux</p>
        </div>
        <!-- End: Intro -->
        <!-- Start: People -->
        <div class="row people">
            {% for member in ReleaxTeam %}
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="{{ url_for('static',filename='assets/img/me.jpg') }}">
                    <h3 class="name">{{member['name']}}</h3>
                    <p class="title">{{member['title']}}</p>
                    <p class="description">{{ member['description'] }}</p>
                    <div class="social"><a href="{{ member['profile']['github'] }}"><i class="fa fa-github"></i></a><a href="{{ member['profile']['twitter'] }}"><i class="fa fa-twitter"></i></a><a href="{{ member['profile']['instagram'] }}"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- End: People -->
    </div>
</div>

{% endblock %}