{% extends 'base.html' %} {% block container %}
<style>
    .dropdown-toggle {
       background-color: darkgrey;
    }
    
    
    .content {
        padding: 0 18px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }
</style>

<div class="container">
    <h2 class="text-center">ToDo</h2>
    <p class="text-center">Upcomming features and bugs</p>
</div>

<div class="p-5 mr-auto d-flex justify-content-center">
   
<ul class="list-group">{% for tsk in ToDo %}
    <li class="p-4 list-group-item">
    <button type="button" class="btn btn-secondary dropdown-toggle">
         {{tsk['msg']}}
    </button>
    <div class="content">
        <br>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">Type</th>
                    <td>{{tsk['type']}}</td>
                </tr>
                <tr>
                    <th scope="row">Target</th>
                    <td>{{tsk['complete']['Target']}}</td>
                </tr>
                <tr>
                    <th scope="row">Data</th>
                    <td>{{tsk['complete']['Data']}}</td>
                </tr>
                <tr>
                    <th scope="row">Source</th>
                    <td><a href="{{tsk['url']}}">Click here</a></td>
                </tr>
            </tbody>
            
        </table>
        </p>
    </div>
    </li>
{% endfor %}
</ul>
</div>
<div class="p-5 mr-auto d-flex justify-content-center">
    <a class="btn btn-primary" href="{{ '/requestfeature' }}">
        Request Feature
    </a>
</div>
<script>
        var coll = document.getElementsByClassName("dropdown-toggle");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
        </script>
 {% endblock %}