{% extends 'base.html' %} {% block container %}

<topic>
    what is relax os and why ?
</topic>
<subtopic>
    {{ defination }}
</subtopic>

<h3 style="text-align: center">Installation</h3>
Download the latest releax ISO image and check sha512sum for integerity
<pre><code>$ sha512sum checksum</code></pre>
<h4 style="text-align: center">Setup VirtualBox</h4>
<p>
    <ul>
        <li>download VirtualBox</li>
        <div class="script">
            <code>$ sudo apt install virtualbox # debian/ubuntu/...based distro</code><br><br>
            <code>$ sudo pacman -S virtualbox # archlinux</code><br><br>
            <code>$ sudo dnf install virtualbox # fedora/redhat linux</code>
        </div>
        <br>
        <i>* if issue with virtualbox to start then try this 'modprobe vboxdrv' or restart once</i>
        <br>
        <li>
            Create a new linux x86_64 bits virtual machine with at least 1024 MiB Memory and 2048 MiB Storage
        </li>
        <br>
        <li>
            load releax iso in virtual machine and boot it<br> and login with username 'root' and passwd 'root'
        </li>
        <br>

        <li>
            create (if necessary) the required partitions (at least root partition)
            <div class="script">
                <code>$ cfdisk /dev/sda  # to start disk partition tool</code><br>
                <code>$ mkfs.ext4 /dev/sda1      # to format the selected disk into ext4</code><br>
            </div>
        </li>
        <br>
        <li>
            execute releax-installer to automate the installation process
            <div class="script">
                <code>$ releax-installer</code>
            </div>
            <i>ENV variables ROOTS=/mnt and PACKAGES=/packages to configure build if err comes</i>
        </li>
        <br>
        <li>
            follow the instruction to complete the installation process,
            <br> installer ask you to enter
            <ul>
                <li>root password ------------------ # Enter 2 Times</li>
                <li>Default username ------------- # Small letters with character starting</li>
                <li>users password ---------------- # Enter 2 Times</li>
                <li>TimeZone ------------------------- # if you have no idea press enter or type Asia/Kolkata</li>
                <li>Bootloader ----------------------- # if following the instruction ditto then type /dev/sda</li>
            </ul>
        </li>
        <br>

        <li>
            Edit <i style="color: green">/etc/fstab, /etc/bootup/init, /etc/bootup/restart, /etc/hostname </i> or any other thing you want
        </li>
        <br>
        <i>i you didn't saw any error then you have done every thing write and reboot with the command that will shown on the screen</i>
        <br>
    </ul>
    <h4>Horry ! if every thing is done correctly and god wants , then Remove the releax iso and reboot the virtual machine</h4>
</p>
</div>
<a style="text-decoration: none;" href="0.1.a/handbook.html"><button class="Download">releax 0.1.a handbook</button></a> {% endblock %}