{% extends 'base.html' %} {% block container %}
<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <!-- Start: Intro -->
                <div class="intro">
                    <h1 class="text-center">releax {{ data['version'] }} {{ data['release'] }} handbook </h1><img class="img-fluid" src="{{ url_for('static',filename='assets/img/looks.png') }}"></div>
                <!-- End: Intro -->
                <!-- Start: Text -->
                <div class="text">
                    <p>releax gnu/linux {{ data['version'] }} {{ data['release'] }} is a testing relese for testers to check it for working on different hardwares and different functionalities</p>
                    <p>this release can be tested either on virtual environment &nbsp;or on real hardware</p>
                    <h2>Requirements</h2>
                    <ul>
                        <li>Architecture : {{ data["sys"]["arch"] }}</li>
                        <li>Mininum memory: {{ data["sys"]["min_mem"] }}</li>
                        <li>Minimum Storage Space: {{ data["sys"]["min_stor"] }}</li>
                        <li>Processor: {{ data["sys"]["proc"] }}</li>
                    </ul>
                    <figure>
                        <figcaption class="text-left" style="font-size: 20px;color: rgb(51,51,51);font-weight: bold;">To Test</figcaption>
                    </figure>
                </div>
                <!-- End: Text -->
                <ol>
                    <li>Setup Enviroment, (i.e. bootable pendrive or virtual environment )</li>
                    <li>Boot to releax system</li>
                    <li>when cli login is prompt, login as root with password : root</li>
                    <li>start lightdm display manager using -&gt; sysmgr service start lightdm</li>
                    <li>Login to root user with password root</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}