{% extends 'base.html' %} {% block container %}
<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <!-- Start: Intro -->
                <div class="intro">
                    <h1 class="text-center">releax {{ data['version'] }} {{ data['release'] }} handbook </h1><img class="img-fluid" src="{{ url_for('static',filename='assets/img/looks.png') }}"></div>
                <!-- End: Intro -->
                <!-- Start: Text -->
                <div class="text">
                    <p>releax gnu/linux is a opensouce gnu/linux base operating system for computers based on x86_64 architecture. releax os adheres to 4 principle: innovative, simplicity, stablility and complete.</p>
                    <ul>
                        <li><b>INNOVATIVE:</b> releax os serves self develop tools and technique to ease the life and mantaince of system.</li>
                        <li><b>SIMPLICITY:</b> releax os provide system managment tools, *mgr to help users to mantain their os, and xfce desktop environment to provide and a simple and light desktop experience</li>
                        <li><b>STABILITY:</b> releax serve the stable yet latest release of package , release by the developers</li>
                        <li><b>COMPLETE:</b> releax os didn't released in parts , but served as a complete OS containing all necessary tools and apps used in daily life</li>
                    </ul>    
                    
                    <h2>Requirements</h2>
                    <ul>
                        <li>Architecture : {{ data["sys"]["arch"] }}</li>
                        <li>Mininum memory: {{ data["sys"]["min_mem"] }}</li>
                        <li>Minimum Storage Space: {{ data["sys"]["min_stor"] }}</li>
                        <li>Processor: {{ data["sys"]["proc"] }}</li>
                    </ul>
                    <figure>
                        <figcaption class="text-left" style="font-size: 20px;color: rgb(51,51,51);font-weight: bold;">To Test</figcaption>
                    </figure>
                </div>
                <!-- End: Text -->
                <ol>
                    <li>** releax {{ data['version'] }} is a {{ data['release'] }} release hence might contain bugs and missing functionalities</li>
                    <li>** this is a test release for testing and debugging purposes</li>
                    <li>Download the iso and test_drive.sh from the download link</li>
                    <li>execute test_drive.sh (qemu is required to test)</li>
                    <li>Login to 'root' user with password 'root'</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}